*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
  font-weight: 400;
  color: #2d2d2d;
  list-style: none;
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
